/* Styles for Mobile devices */

.section {
  margin-bottom: 80px 0;
}

.section-title {
}

.section-text {
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
}

/* Styles for Tablet devices */

/* Styles for Desktop devices */
