/* __________Styles for Mobile devices */

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* __________Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* __________Styles for Desktop devices */

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1054px;
    padding: 0 15px;
  }
}
