.footer-page {
  background-color: var(--primary-text-color);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-logo-en {
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}
.footer-logo-ex {
  color: var(--accent);
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}
.footer-logo-point {
  color: var(--white);
}
.footer-contact {
  margin-bottom: 40px;
}
.footer-contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 20px;
}

.footer-contact-descr {
  color: var(--footer-label-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  opacity: 0.9;
}
.footer-contact-tel {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}

.footer-contact-tel:hover,
.footer-contact-tel:focus {
  color: var(--accent);
}
.footer-contact-adress {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}

.footer-contact-adress:hover,
.footer-contact-adress:focus {
  color: var(--accent);
}
.footer-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;
}

.footer-menu-link {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent);
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 40px;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white);
  border-radius: 10px;
  border: 1px solid var(--icon-border-color);
  gap: 12px;
}

.social-link:hover,
.social-link:focus {
  fill: var(--accent);
  border: 1px solid var(--icon-border-focus-color);
}

.footer-policy {
  border-top: 1px solid var(--icon-border-color);
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.footer-contact-descr-padding {
  color: var(--footer-label-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  opacity: 0.9;
  padding-top: 20px;
}
.footer-privacy-policy {
  color: var(--footer-label-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  opacity: 0.9;
}
.footer-privacy-policy:hover,
.footer-privacy-policy:focus {
  color: var(--accent);
}

.footer-policy-cont {
  display: flex;
  column-gap: 18px;
}
@media (min-width: 768px) {
  .footer-page {
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .footer-flex-container {
    display: flex;
    justify-content: space-between;
  }
  .footer-contact {
    margin-bottom: 0px;
  }
  .footer-contact-list {
    margin-top: 32px;
  }
  .footer-menu-list {
    margin-bottom: 110px;
  }

  .footer-social-list {
    margin-bottom: 0;
  }
  .social-list-icon {
    width: 28px;
    height: 28px;
  }

  .footer-policy {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
  }
  .footer-contact-descr-padding {
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer-page {
    padding-top: 64px;
    padding-bottom: 23px;
  }
  .footer-menu-list {
    margin-bottom: 64px;
  }
}
