.page-header {
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.header-social-list {
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}
.header-logo {
  display: block;
  color: #121417;
  padding: 20px 0;
}

.logo-part {
  color: #4dc274;
}

.nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  color: #121417;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #4dc274;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  opacity: 1;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
}

/* __________Styles for Tablet devices */

@media only screen and (min-width: 768px) {
}

/* __________Styles for Desktop devices */

@media only screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-social-list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header-social-item .social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #121417;
    border-radius: 10px;
    border: 1px solid rgba(18, 20, 23, 0.1);
    /* gap: 12px; */
  }

  .social-link:hover,
  .social-link:focus {
    fill: #4dc274;
    border: 1px solid rgba(77, 194, 116, 0.1);
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
