.hero {
    padding-top: 8px;
    padding-bottom: 80px;
    color: #fff;
    background-color: gray;
}

.hero__title {
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.05;
    color: #fff;
}
.greenspan {
    color: #BEE8CC;
}

.hero {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    border-radius: 16px;
    min-width: 335px;
    height: 708px;
    padding-left: 20px;
    padding-right: 14px;
    background: linear-gradient(57deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%),
    url() no-repeat;
    background-size: cover;
}

.hero-btn-leave {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 52px;
    background-color: #4dc274;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    border-radius: 12px;
    border: none;
}

.hero-btn-leave:hover,
.hero-btn-leave:focus {
    background-color: #38ae5f;
}

.scroll-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    margin-left: auto;
    bottom: 14px;
    right: 14px;
}

.scroll-btn:hover {
    background-color: #4dc274;
}

.scroll-btn-icon {
    fill: #4dc274;
}

.hero__button-round:hover .hero__button-icon {
    fill: #fff;
}
