.hero {
display: flex;
justify-content: center;
margin: 8px 0 80px;
}

.hero .hero-container {
    color: #fff;
    max-width: 1200px;
}

.hero .hero-container .hero-wrapper {
    position: relative;
    padding: 0 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 709px;
    border-radius: 16px;
    background-image: linear-gradient(357.37deg, rgba(0, 0, 0, 0.4) 39.23%, rgba(0, 0, 0, 0) 66.28%),
        url('/src/images/hero-mb.webp');
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .hero .hero-container .hero-wrapper {
        background-image: linear-gradient(357.37deg,
                rgba(0, 0, 0, 0.4) 39.23%,
                rgba(0, 0, 0, 0) 66.28%),
            url('/src/images/hero-mb@2.webp');
    }
}

@media (min-width: 768px) {
.hero .hero-container .hero-wrapper {
        padding: 0 32px;
        width: 704px;
        height: 857px;
        border-radius: 30px;
        background-image: linear-gradient(95.97deg,
                rgba(0, 0, 0, 0.4) 36.36%,
                rgba(0, 0, 0, 0) 51.43%),
            url('/src/images/hero-tb.webp');
    }
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .hero .hero-container .hero-wrapper {
        background-image: linear-gradient(95.97deg,
                rgba(0, 0, 0, 0.4) 36.36%,
                rgba(0, 0, 0, 0) 51.43%),
            url('/src/images/hero-tb@2.webp');
    }
}

@media (min-width: 1280px) {
    .hero .hero-container .hero-wrapper {
        padding: 0 64px;
        width: 1152px;
        height: 629px;
        background-image: linear-gradient(95.97deg,
                rgba(0, 0, 0, 0.4) 36.36%,
                rgba(0, 0, 0, 0) 51.43%),
            url('/src/images/hero-dt.webp');
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .hero .hero-container .hero-wrapper {
            background-image: linear-gradient(95.97deg,
                    rgba(0, 0, 0, 0.4) 36.36%,
                    rgba(0, 0, 0, 0) 51.43%),
                url('/src/images/hero-dt@2.webp');
        }
    }
}
   
.hero-title {
    padding-top: 425px;
    margin-bottom: 40px;
    font-size: 38px;
    line-height: 40px;
    font-weight: 700;
}

.hero-title-accent {
    color: #BEE8CC;
}

<<<<<<< Updated upstream
@media (min-width: 768px) {
    .hero-title {
        padding-top: 260px;
        margin-bottom: 32px;
        font-size: 60px;
        line-height: 70px;
        max-width: 488px;
    }
}

@media (min-width: 1280px) {
    .hero-title {
        padding-top: 164px;
        max-width: 564px;
    }
=======
.hero {
display: flex;
justify-items: center;
margin: 8px 0 80px;
}
.hero-contqiner {
color: #fff;
max-width: 1200px;
}

.hero .hero-container .hero-wrapper {
    position: relative;
    padding: 0 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 709px;
    border-radius: 16px;
    background-image: linear-gradient(357.37deg,
            rgba(0, 0, 0, 0.4) 39.23%,
            rgba(0, 0, 0, 0) 66.28%),
        url('../../img/hero-mobile-1x.jpg');
>>>>>>> Stashed changes
}

.hero-btn-leave {
    display: inline-block;
    color: #fff;
    background: #4dc274;;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 14px 78px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .hero-btn-leave {
        padding: 16px 64px;
        font-size: 18px;
        line-height: 28px;
    }
}

.hero-btn-leave:hover,
.hero-btn-leave:focus {
    background-color: #38ae5f;
}

.scroll-btn{
position: absolute;
right: 14px;
bottom: 14px;
display: flex;
align-items: center;
justify-content: center;
width: 38px;
height: 38px;
border-radius: 50%;
background: #fff;
outline: none;
}

.scroll-btn:hover {
    background-color: #4dc274;
}

.scroll-icon > svg {
    fill: #4dc274;
}

.scroll-icon:hover .scroll-icon {
    fill: #fff;
}

@media (min-width: 768px) {
    .scroll-btn {
        right: 32px;
        bottom: 32px;
        width: 48px;
        height: 48px;
    }
}