.hero-title {
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.05;
    color: #fff;
}
.hero-title-accent {
    color: #BEE8CC;
}

.hero {
padding: 20px 14px 80px 20px;
color: #fff;
background-color: gray;
margin: 0 14px;
    
display: flex;
align-items: flex-end;
flex-direction: column;
position: relative;
justify-content: flex-end;

border-radius: 16px;
min-width: 335px;
height: 708px;
background: linear-gradient(57deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%),
    url() no-repeat;
background-size: cover;
}

.hero-btn-leave {
    padding: 14px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 295px;
    background-color: #4dc274;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.hero-btn-leave:hover,
.hero-btn-leave:focus {
    background-color: #38ae5f;
}

.scroll-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    margin-left: auto;
    bottom: 14px;
    right: 14px;
}

.scroll-btn:hover {
    background-color: #4dc274;
}

.scroll-btn-icon {
    fill: #4dc274;
}

.scroll-btn-icon:hover .scroll-btn-icon {
    fill: #fff;
}
