.proposal-page {
  padding: 0;
}

/* зелений контейнер */
.proposal-section {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;

  padding: 40px 20px;
  border-radius: 16px;
  background: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  box-sizing: border-box;

  overflow: hidden;
  position: relative;
}

/* Tablet  */
@media (min-width: 768px) {
  .proposal-section {
    max-width: 704px;
    height: 950px;
    padding: 64px 32px;
    border-radius: 30px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .proposal-section {
    max-width: 1152px;
    height: 950px;
    padding: 64px;
  }
}

/* заголовок */
.proposal-title {
  margin: 0;
  max-width: 295px;

  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05263;
  color: #fff;
}

.proposal-title__accent {
  color: #bee8cc;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .proposal-title {
    max-width: 640px;
    font-size: 60px;
    line-height: 1.16667;
  }
}

@media (min-width: 1280px) {
  .proposal-title {
    max-width: 776px;
  }
}

.proposal-cards {
  position: relative;
  margin-top: 40px;

  width: 100%;
  max-width: 367px;
  height: 456px;

  margin-left: auto;
  margin-right: auto;

  overflow: visible;
}

@media (min-width: 768px) {
  .proposal-cards {
    width: 754px;
    max-width: none;
    height: 614px;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1280px) {
  .proposal-cards {
    margin-top: 72px;
    width: 1104px;
    height: 604px;
  }
}

/* базова картка */
.proposal-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

/* нижні картки */
.proposal-card--back-1 {
  background: #d4fde1;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(-11deg);
}

.proposal-card--back-2 {
  background: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

/* передня біла картка */
.proposal-card--main {
  max-width: 295px;
  width: 100%;
  height: 408px;
  background: #ffffff;
  z-index: 2;
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px;
  border-radius: 16px;
  overflow: visible;
}

@media (max-width: 767.98px) {
  .proposal-card--back-1,
  .proposal-card--back-2,
  .proposal-card--main {
    width: 295px;
    height: 408px;
    border-radius: 16px;
  }

  .proposal-card--back-2 {
    transform: translate(-50%, -50%) rotate(9deg);
  }
}

@media (min-width: 768px) {
  .proposal-card--back-1,
  .proposal-card--back-2,
  .proposal-card--main {
    width: 668px;
    height: 500px;
    border-radius: 30px;
  }

  .proposal-card--back-2 {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  .proposal-card--main {
    max-width: 668px;
    width: 100%;
    height: 500px;
    padding: 65px 32px 63px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .proposal-card--main {
    max-width: 1024px;
    width: 100%;
    height: 471px;

    border-radius: 30px;

    padding: 65px 32px 63px;

    display: flex;
    align-items: flex-start;
    gap: 32px;
    justify-content: flex-start;
  }

  .proposal-card--back-1 {
    width: 1010px;
    height: 401px;
    border-radius: 30px;
  }

  .proposal-card--back-2 {
    width: 1049px;
    height: 462px;
    border-radius: 30px;
    transform: translate(-50%, -50%) rotate(8deg);
  }
}

/* контент в main card */
.proposal-main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 255px;
  height: auto;
}

@media (min-width: 768px) {
  .proposal-main__content {
    width: 451px;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .proposal-main__content {
    width: 654px;
    height: auto;
  }
}

.proposal-subtitle {
  margin: 0 0 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
}

@media (min-width: 768px) {
  .proposal-subtitle {
    font-size: 40px;
    margin-bottom: 32px;
  }
}

.proposal-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.proposal-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .proposal-item {
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;

    width: 450px;
    min-height: 47px;
  }
}
@media (min-width: 1280px) {
  .proposal-item {
    width: 654px;
  }
}
.proposal-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  background-color: #4dc274;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .proposal-icon {
    width: 28px;
    height: 28px;
    flex-basis: 28px;
  }
}
.proposal-icon__svg {
  width: 13px;
  height: 13px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media (min-width: 768px) {
  .proposal-icon__svg {
    width: 15px;
    height: 15px;
  }
}
.proposal-icon use {
  stroke: #fff;
  fill: none;
}
@media (min-width: 768px) {
  .proposal-icon use {
    width: 30;
    height: 30;
  }
}

.proposal-text {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.02em;
  color: #121417;
}

@media (min-width: 768px) {
  .proposal-text {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* кнопка */
.proposal-btn {
  margin-top: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 255px;
  height: 52px;

  border-radius: 12px;
  background-color: #4dc274;
  color: #fff;
  text-decoration: none;

  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .proposal-btn {
    margin-top: 32px;

    width: 306px;
    height: 60px;

    font-size: 18px;
    line-height: 1.55556;

    padding: 16px 64px;
    box-sizing: border-box;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0, 35);
  }
}

.proposal-btn:hover,
.proposal-btn:focus-visible {
  background-color: #38ae5f;
}
.proposal-btn:focus-visible {
  outline: 3px solid #111;
  outline-offset: 3px;
}

/* картинка книг */
.proposal-img {
  display: none;
  position: absolute;
  width: 214px;
  height: 263px;
  z-index: 3;
}

@media (min-width: 768px) {
  .proposal-img {
    position: absolute;
    left: 503px;
    top: 174px;
    display: block;
    z-index: 10;
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .proposal-img {
    position: absolute;
    left: 810px;
    top: 129px;
    display: block;
    z-index: 10;
    margin: 0;
  }
}
