.reviews .container {
  padding-left: 20px;
  padding-right: 20px;
}

.reviews-item:nth-child(n + 2) {
  display: none;
}

.reviews-title {
  font-size: 32px;
  line-height: 1.12;
  margin-bottom: 16px;
  color: #121417;
}

.reviews-title-accent {
  position: relative;
  display: inline-block;
}

.reviews-title-accent::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 20px;
  background-color: #bee8cc;
  border-radius: 8px;
  z-index: -1;
}
.reviews-subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 36px;
  color: rgba(12, 14, 17, 0.5);
}

.reviews-title,
.reviews-subtitle {
  text-align: center;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviews-item {
  padding: 24px 20px 36px 20px;
  border-radius: 16px;
  background-color: #f3f5f6;
}

.reviews-top {
  padding: 14px;
  border-radius: 12px;
  background-color: #4dc274;
  margin-bottom: 20px;
}

.reviews-head {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
}

.reviews-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-name {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 2px;
}

.reviews-role {
  font-size: 12px;
  opacity: 0.5;
}

.reviews-name,
.reviews-role {
  color: #ffffff;
}

.reviews-comment {
  margin: 0 auto;
  max-width: 267px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(12, 14, 17, 0.5);
}
