<footer class="footer-page container" id="footer">
  <div class="footer-flex-container">
    <div>
      <a
        class="footer-logo-en link"
        href="./index.html"
        aria-label="footer logo"
        >english<span class="footer-logo-ex">excellence</span
        ><span class="footer-logo-point">.</span></a
      >
      <address class="footer-contact">
        <ul class="footer-contact-list">
          <li class="footer-contact-item">
            <p class="footer-contact-descr">Phone number:</p>
            <a
              class="footer-contact-tel link"
              href="tel:+380684439426"
              aria-label="contact phone"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contact-item">
            <p class="footer-contact-descr">Address:</p>
            <a
              class="footer-contact-address"
              href="https://goo.gl/maps/NxWrZJ2AeZcb8ZLX6"
              target="_blank"
              aria-label="contact address"
              >32a M. Bazhana ave</a
            >
          </li>
        </ul>
      </address>
    </div>

    <nav>
      <ul class="footer-menu-list">
        <li>
          <a href="#aboutUs" class="footer-menu-link" aria-label="about us"
            >About us</a
          >
        </li>
        <li>
          <a
            href="#ourLessons"
            class="footer-menu-link"
            aria-label="our lessons"
            >Our lessons</a
          >
        </li>
        <li>
          <a
            href="#ourTeachers"
            class="footer-menu-link"
            aria-label="our teachers"
            >Teachers</a
          >
        </li>
        <li>
          <a href="#reviews" class="footer-menu-link" aria-label="reviews"
            >Reviews</a
          >
        </li>
        <li>
          <a href="#contact-us" class="footer-menu-link" aria-label="contact us"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="footer-social-list">
      <li class="footer-social-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          aria-label="go on facebook"
          target="_blank"
          ><svg class="social-list-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          aria-label="go on instagram"
          target="_blank"
          ><svg class="social-list-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          aria-label="go on youtube"
          target="_blank"
        >
          <svg class="social-list-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-policy">
    <p class="footer-contact-descr-padding">
      &#169;2023 English Excellence. All rights reserved.
    </p>
    <div class="footer-policy-cont">
      <a
        href="./privacy-policy.html"
        class="footer-privacy-policy"
        arial-label="privacy policy"
        >Privacy Policy</a
      >
      <a
        href="./terms-of-service.html"
        class="footer-privacy-policy"
        arial-label="terms of service"
        >Terms of Service</a
      >
    </div>
  </div>
</footer>
