<section class="hero" id="hero">
    <div class="hero-container">
        <h1 class="hero-title">
            Discover the joy of learning <span class="hero-title-accent">English</span><br>
            with us!
        </h1>
        <a class="hero-btn-leave scroll-button" id="leave" data-target="leave-section">
            Leave an application
        </a>
        <a href="" class="scroll-btn">
            <svg class="scroll-btn-icon" width="20" height="20" aria-label="scroll down icon">
                <use href=""></use>
            </svg>
        </a>
    </div>
</section>