<section class="hero section" id="hero">
    <div class="hero-container">
        <div class="hero-wrapper">
            <h1 class="hero-title">
                Discover the joy of learning <span class="hero-title-accent">English</span><br>
                with us!
            </h1>
            <a class="hero-btn-leave" href="#leave-an-application">
                Leave an application
            </a>
            <a href="#about-us" class="scroll-btn">
                <svg class="scroll-icon" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-scroll"></use>
                </svg>
            </a>
        </div>
    </div>
</section>