<section id="ourTeachers" class="section">
<!--Our Teachers Section-->
    <div class="container">
        <h2 class="section-title">
            Meet our <span class="title-accent-green">teachers</span>
        </h2>
        <p class="section-subtitle">Discover our team of dedicated educators, committed to guiding you on your journey
            to English proficiency with
            personalized and engaging instruction.</p>
        <ul class="gallery-list">
            <!-- Maria -->
            <li class="item-gallery card">
                <div class="team-photo">
                <img src="/images/maria.webp" 
                srcset="/images/maria@2x.webp 2x" 
                alt="Maria" />
                </div>
                <div class="card-team">
                    <h3 class="team-title">Maria</h3>
                    <p class="team-text">A seasoned linguist and our primary specialist in beginner-level instruction,
                        Maria brings warmth and patience to every
                        class</p>
                </div>
            </li>


            <!-- Artem -->
            <li class="item-gallery card">
                <div class="team-photo">
                <img src="/images/artem.webp" 
                srcset="/images/artem@2x.webp 2x" 
                alt="Artem" />
                </div>
                <div class="card-team">
                    <h3 class="team-title">Artem</h3>
                    <p class="team-text">With his innovative teaching techniques and a focus on interactive learning,
                        Artem excels in keeping students engaged
                        and motivated</p>
                </div>
            </li>

            <!-- Ilona -->
            <li class="item-gallery card">
                <div class="team-photo">
                    <img src="/images/ilona.webp" 
                    srcset="/images/ilona@2x.webp 2x" 
                    alt="Ilona" />
                </div>
                <div class="card-team">
                    <h3 class="team-title">Ilona</h3>
                    <p class="team-text">A specialist in advanced English, Ilona provides intensive instruction,
                        ensuring students gain confidence in complex
                        language tasks</p>
                </div>
            </li>

            <!-- Volodymyr -->
            <li class="item-gallery card">
                <div class="team-photo">
                    <img src="/images/volodymyr.webp" 
                    srcset="/images/volodymyr@2x.webp 2x" 
                    alt="Volodymyr" />
                </div>
                <div class="card-team">
                    <h3 class="team-title">Volodymyr</h3>
                    <p class="team-text">Our expert in English for specific purposes, Volodymyr tailors his approach to
                        meet individual career and
                        industry-specific language needs</p>
                </div>
            </li>
        </ul>
    </div>
</section>
</body>

</html>