<section class="section reviews" id="reviews">
  <div class="container">
    <h2 class="section-title">
      What our <span class="reviews-title-accent">students</span> say
    </h2>
    <p class="section-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-top">
          <div class="reviews-head">
            <img
              class="reviews-avatar"
              src="/images/anna.jpg"
              alt="Student Anna"
              width="50"
              height="50"
              loading="lazy"
            />
            <div class="reviews-meta">
              <h3 class="reviews-name">Anna</h3>
              <p class="reviews-role">Student</p>
            </div>
          </div>
        </div>

        <p class="reviews-comment">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <li class="reviews-item">
        <div class="reviews-top">
          <div class="reviews-head">
            <img
              class="reviews-avatar"
              src="/images/mykhailo.jpg"
              alt="Student Mykhailo"
              width="50"
              height="50"
              loading="lazy"
            />
            <div class="reviews-meta">
              <h3 class="reviews-name">Mykhailo</h3>
              <p class="reviews-role">Student</p>
            </div>
          </div>
        </div>

        <p class="reviews-comment">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="reviews-item">
        <div class="reviews-top">
          <div class="reviews-head">
            <img
              class="reviews-avatar"
              src="/images/victoria.jpg"
              alt="Student Victoria"
              width="50"
              height="50"
              loading="lazy"
            />
            <div class="reviews-meta">
              <h3 class="reviews-name">Victoria</h3>
              <p class="reviews-role">Student</p>
            </div>
          </div>
        </div>

        <p class="reviews-comment">
          I love the dynamic and interactive teaching methods used here. It`s a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
