/* Common styles */
@import url('./common/reset.css');
@import url('./common/base.css');
@import url('./common/common.css');
@import url('./common/container.css');
@import url('./commonsanimations.css');

/* Sections style */
@import url('./partials/header.css');
@import url('./partials/hero.css');
@import url('./partials/about_us.css');
@import url('./partials/our_lessons.css');
@import url('./partials/proposal.css');
@import url('./partials/our_teachers.css');
@import url('./partials/aplication.css');
@import url('./partials/reviews.css');
@import url('./partials/footer.css');
