/* Common styles */
@import url('./common/reset.css');
@import url('./common/base.css');
@import url('./common/common.css');
@import url('./common/container.css');
@import url('./common/animations.css');

/* Sections style */
@import url('./partials/header.css');
@import url('./partials/hero.css');
@import url('./partials/about_us.css');
@import url('./partials/our_lessons.css');
@import url('./partials/proposal.css');
@import url('./partials/our_teachers.css');
@import url('./partials/aplication.css');
@import url('./partials/reviews.css');
@import url('./partials/footer.css');

:root {
  --primary-text-color: #121417;
  --white: #ffffff;
  --accent: #4dc274;
  --footer-label-color: rgba(255, 255, 255, 0.6);
  --icon-border-color: rgba(255, 255, 255, 0.1);
  --icon-border-focus-color: rgba(77, 194, 116, 0.1);
}
